<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<% if false %>
 <%= form_with model:@book, local:true do |f| %>
  <p>Title</p>
    <%= f.text_field :title %>
   <p>Body</p>
    <%= f.text_area :body %>
  <div>
    <%= f.submit'Update Book' %>
  </div>
 <% end %>
 <% end %>
 
<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
